<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Education</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-06-18T02:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525298.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wrC7GmsQKzVl
								tzITG4oDRw==
								</data>
								<key>Size</key>
								<integer>10006</integer>
							</dict>
							<key>files/small_525299.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zv3zQS4bYKbe
								M+n4V9ereA==
								</data>
								<key>Size</key>
								<integer>9045</integer>
							</dict>
							<key>files/small_525300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yFtNkWYrbIbR
								QZbMaICXOw==
								</data>
								<key>Size</key>
								<integer>9003</integer>
							</dict>
							<key>files/small_525301.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3JAf/doOkUBn
								WQNLL1Wt8g==
								</data>
								<key>Size</key>
								<integer>8444</integer>
							</dict>
							<key>files/stacks_page_page6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0GeVh3Ve5uWa
								NxtQ99/tBg==
								</data>
								<key>Size</key>
								<integer>116151</integer>
							</dict>
							<key>files/stacks_page_page6.js</key>
							<dict>
								<key>Digest</key>
								<data>
								d2vfIMEugMab
								Awr9c3B3Wg==
								</data>
								<key>Size</key>
								<integer>27308</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								JNr1mq7nn2sE
								AtmqX2+cPg==
								</data>
								<key>Size</key>
								<integer>27541</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>education</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
