<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page43</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-06-18T14:02:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/recaptcha-edit.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/T9lI03zhz1B
								nbUBGULN1Q==
								</data>
								<key>Size</key>
								<integer>3161</integer>
							</dict>
							<key>files/stacks_in_109626_page43_export.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7gHjgs4MLz/Z
								T11rs4yZxg==
								</data>
								<key>Size</key>
								<integer>4408</integer>
							</dict>
							<key>files/stacks_in_109626_page43_phpinsert.php</key>
							<dict>
								<key>Digest</key>
								<data>
								p/ECQ6L6eKr0
								lqJu6TDf0Q==
								</data>
								<key>Size</key>
								<integer>7910</integer>
							</dict>
							<key>files/stacks_in_109626_page43_phpmailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								DvnFQh9G4iU8
								tTZA1VyY7w==
								</data>
								<key>Size</key>
								<integer>10757</integer>
							</dict>
							<key>files/stacks_in_109626_page43_phpmailer2.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5+Y5ATqEX2lE
								QP8c7bs2YQ==
								</data>
								<key>Size</key>
								<integer>10626</integer>
							</dict>
							<key>files/stacks_in_109637_page43_recaptcha.php</key>
							<dict>
								<key>Digest</key>
								<data>
								jZLsFFYWPzD1
								+bPQVBSIwg==
								</data>
								<key>Size</key>
								<integer>980</integer>
							</dict>
							<key>files/stacks_page_page43.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tOpcL6j6JbHU
								57HvQmIiHA==
								</data>
								<key>Size</key>
								<integer>122657</integer>
							</dict>
							<key>files/stacks_page_page43.js</key>
							<dict>
								<key>Digest</key>
								<data>
								NnmmcL4zCBCp
								X4etAYZnRA==
								</data>
								<key>Size</key>
								<integer>31354</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								31K5SOY9o8zM
								Wlj+OlfIoQ==
								</data>
								<key>Size</key>
								<integer>33575</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page43</string>
						<key>SiteRoot</key>
						<string>community/contact</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
