<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-Complex-Systems-Seminars</string>
				<string>2-Big-Spread002C-Big-Dead</string>
				<string>3-Prediction003A-The-Next-Big-Thing</string>
				<string>4-Big-Scale002C-...-Big-Fail003F</string>
				<string>5-Big-Data002C-Big-Stories</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
