<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Masters in Complex Systems and Data Science</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-06-18T02:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/large_305117.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EJGt+acXqWdn
								xGl3vH09Zg==
								</data>
								<key>Size</key>
								<integer>228083</integer>
							</dict>
							<key>files/medium_305102.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CuUnc08CmXPN
								Tiq5ImyBXQ==
								</data>
								<key>Size</key>
								<integer>159243</integer>
							</dict>
							<key>files/medium_305105.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CuUnc08CmXPN
								Tiq5ImyBXQ==
								</data>
								<key>Size</key>
								<integer>159243</integer>
							</dict>
							<key>files/medium_305190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41/4204vSolp
								ncfP+f8U4g==
								</data>
								<key>Size</key>
								<integer>163798</integer>
							</dict>
							<key>files/medium_305788.png</key>
							<dict>
								<key>Digest</key>
								<data>
								w0ttSSdWywqQ
								d2DRHDHCUA==
								</data>
								<key>Size</key>
								<integer>25838</integer>
							</dict>
							<key>files/medium_305791.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UEIK1usj3VmC
								lRpzHiqKoA==
								</data>
								<key>Size</key>
								<integer>283695</integer>
							</dict>
							<key>files/medium_305806.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UEIK1usj3VmC
								lRpzHiqKoA==
								</data>
								<key>Size</key>
								<integer>283695</integer>
							</dict>
							<key>files/recaptcha-edit.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/T9lI03zhz1B
								nbUBGULN1Q==
								</data>
								<key>Size</key>
								<integer>3161</integer>
							</dict>
							<key>files/small_305061.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PHbChnVk3Z3+
								Djx4kmy/Lw==
								</data>
								<key>Size</key>
								<integer>541593</integer>
							</dict>
							<key>files/small_305102.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BfnnCWYgs0U9
								O3e3uhu90g==
								</data>
								<key>Size</key>
								<integer>147975</integer>
							</dict>
							<key>files/small_305105.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BfnnCWYgs0U9
								O3e3uhu90g==
								</data>
								<key>Size</key>
								<integer>147975</integer>
							</dict>
							<key>files/small_305117.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B7ucwtGc/QUa
								FI0vCTgb8w==
								</data>
								<key>Size</key>
								<integer>111754</integer>
							</dict>
							<key>files/small_305132.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tVne4uWHYC72
								XukfA8I9LA==
								</data>
								<key>Size</key>
								<integer>116800</integer>
							</dict>
							<key>files/small_305167.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZWE78KlR9Srz
								PLug/WlfMA==
								</data>
								<key>Size</key>
								<integer>92613</integer>
							</dict>
							<key>files/small_305178.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ucnS9kdiKF8g
								ex3PnI+LJw==
								</data>
								<key>Size</key>
								<integer>260795</integer>
							</dict>
							<key>files/small_305190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vr3yhQcAresN
								a3hPFHddeQ==
								</data>
								<key>Size</key>
								<integer>84396</integer>
							</dict>
							<key>files/small_305227.png</key>
							<dict>
								<key>Digest</key>
								<data>
								azBklrZ8XGht
								8pVeJmzjIg==
								</data>
								<key>Size</key>
								<integer>85972</integer>
							</dict>
							<key>files/small_305239.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bZn4eu5nYpgz
								Kt6i/CsH/g==
								</data>
								<key>Size</key>
								<integer>89938</integer>
							</dict>
							<key>files/small_305378.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TeBwU0sg3z7e
								mgscX6BdQA==
								</data>
								<key>Size</key>
								<integer>61740</integer>
							</dict>
							<key>files/small_305402.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GU/urgFlj28K
								JGgxAX3INQ==
								</data>
								<key>Size</key>
								<integer>12561</integer>
							</dict>
							<key>files/small_305554.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Cg4UULlHMDzQ
								/PBHaO3Idg==
								</data>
								<key>Size</key>
								<integer>41009</integer>
							</dict>
							<key>files/small_305555.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/tqoCjkTOMw2
								hUzDnE1bOQ==
								</data>
								<key>Size</key>
								<integer>24860</integer>
							</dict>
							<key>files/small_305684.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iWPmO+FX8ThK
								m6thUHM2qA==
								</data>
								<key>Size</key>
								<integer>29415</integer>
							</dict>
							<key>files/small_305788.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gAfFYBRRheex
								5lbxUiF+OQ==
								</data>
								<key>Size</key>
								<integer>21536</integer>
							</dict>
							<key>files/small_305791.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Leh61kFYO9HX
								fJwmuX9bzQ==
								</data>
								<key>Size</key>
								<integer>81683</integer>
							</dict>
							<key>files/small_305806.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Leh61kFYO9HX
								fJwmuX9bzQ==
								</data>
								<key>Size</key>
								<integer>81683</integer>
							</dict>
							<key>files/small_305818.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DNQsSlf9cE3O
								48Vq/iMvvg==
								</data>
								<key>Size</key>
								<integer>57727</integer>
							</dict>
							<key>files/small_305829.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oSRYFqYDTTAe
								SMSPp1rOqA==
								</data>
								<key>Size</key>
								<integer>279755</integer>
							</dict>
							<key>files/stacks_in_p305883_n18_page0_recaptcha.php</key>
							<dict>
								<key>Digest</key>
								<data>
								jZLsFFYWPzD1
								+bPQVBSIwg==
								</data>
								<key>Size</key>
								<integer>980</integer>
							</dict>
							<key>files/stacks_in_p305883_n7_page0_export.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7gHjgs4MLz/Z
								T11rs4yZxg==
								</data>
								<key>Size</key>
								<integer>4408</integer>
							</dict>
							<key>files/stacks_in_p305883_n7_page0_phpinsert.php</key>
							<dict>
								<key>Digest</key>
								<data>
								p/ECQ6L6eKr0
								lqJu6TDf0Q==
								</data>
								<key>Size</key>
								<integer>7910</integer>
							</dict>
							<key>files/stacks_in_p305883_n7_page0_phpmailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								uW/va5i8/X6S
								cxekBPMNpw==
								</data>
								<key>Size</key>
								<integer>10749</integer>
							</dict>
							<key>files/stacks_in_p305883_n7_page0_phpmailer2.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5+Y5ATqEX2lE
								QP8c7bs2YQ==
								</data>
								<key>Size</key>
								<integer>10626</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								B3MGwa8rWNtB
								r9aFKOvg8A==
								</data>
								<key>Size</key>
								<integer>254110</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								JbD61hlCYHOF
								ougONmMctw==
								</data>
								<key>Size</key>
								<integer>31348</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								owsklvDAZ5jf
								VZnVKkZnYA==
								</data>
								<key>Size</key>
								<integer>151284</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>education/masters</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
