<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>The Vermont Complex Systems Center</string>
				<key>CreatedDate</key>
				<date>2016-01-15T12:17:03Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-home fa-2x"&gt;&lt;/i&gt;</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-06-18T02:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>apple-touch-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CuLgyLH6p4fi
								uSUfIJSo2w==
								</data>
								<key>Size</key>
								<integer>18430</integer>
							</dict>
							<key>favicon.ico</key>
							<dict>
								<key>Digest</key>
								<data>
								IZGKSpd3rnz5
								uJuMRSdUGg==
								</data>
								<key>Size</key>
								<integer>13094</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								f3JUjglHH0FN
								7MzkPs7joA==
								</data>
								<key>Size</key>
								<integer>69092</integer>
							</dict>
							<key>index_files/medium_526226.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aSBmV7Fa6CFe
								VBLpy1oimQ==
								</data>
								<key>Size</key>
								<integer>151248</integer>
							</dict>
							<key>index_files/medium_526238.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ObAxj+uZ+db3
								aD+krt2AIg==
								</data>
								<key>Size</key>
								<integer>161836</integer>
							</dict>
							<key>index_files/medium_526249.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nADf6fHxau4a
								G2s0VctITQ==
								</data>
								<key>Size</key>
								<integer>144349</integer>
							</dict>
							<key>index_files/medium_526305.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CuUnc08CmXPN
								Tiq5ImyBXQ==
								</data>
								<key>Size</key>
								<integer>159243</integer>
							</dict>
							<key>index_files/medium_526547.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iU159kIEPJBy
								227TH9MVMg==
								</data>
								<key>Size</key>
								<integer>330014</integer>
							</dict>
							<key>index_files/small_526226.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zyJjwa00+qS6
								8ZFxcDVfDg==
								</data>
								<key>Size</key>
								<integer>146474</integer>
							</dict>
							<key>index_files/small_526238.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L7uqIHqIPK6D
								7bPWnx99Jg==
								</data>
								<key>Size</key>
								<integer>179394</integer>
							</dict>
							<key>index_files/small_526249.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQpG5l32LHX7
								TAk8lyjNOg==
								</data>
								<key>Size</key>
								<integer>181544</integer>
							</dict>
							<key>index_files/small_526305.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BfnnCWYgs0U9
								O3e3uhu90g==
								</data>
								<key>Size</key>
								<integer>147975</integer>
							</dict>
							<key>index_files/small_526368.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0K6UonyfvWsy
								0rtEV/Rc8Q==
								</data>
								<key>Size</key>
								<integer>49488</integer>
							</dict>
							<key>index_files/small_526372.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1aktZFHGt6SM
								HC7djJvX6Q==
								</data>
								<key>Size</key>
								<integer>38017</integer>
							</dict>
							<key>index_files/small_526373.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								leFTMFwpW7MP
								EBVxjwxcmQ==
								</data>
								<key>Size</key>
								<integer>41843</integer>
							</dict>
							<key>index_files/small_526374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								puSiyfTJWAzj
								ZpgEIht62w==
								</data>
								<key>Size</key>
								<integer>48053</integer>
							</dict>
							<key>index_files/small_526381.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>index_files/small_526384.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>index_files/small_526391.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VZh7ikUd4q1N
								vmZGDQPXng==
								</data>
								<key>Size</key>
								<integer>131292</integer>
							</dict>
							<key>index_files/small_526403.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>index_files/small_526406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQDM2Q1auRI7
								rVVJJW77fA==
								</data>
								<key>Size</key>
								<integer>125690</integer>
							</dict>
							<key>index_files/small_526547.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iU159kIEPJBy
								227TH9MVMg==
								</data>
								<key>Size</key>
								<integer>330014</integer>
							</dict>
							<key>index_files/small_526563.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oGffpcrO9YQE
								6DROqhHF9Q==
								</data>
								<key>Size</key>
								<integer>29901</integer>
							</dict>
							<key>index_files/small_526567.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ieif39fTqvGh
								CrgZHaX1hg==
								</data>
								<key>Size</key>
								<integer>37958</integer>
							</dict>
							<key>index_files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2HnrioVUIbKt
								O3fUgseKhg==
								</data>
								<key>Size</key>
								<integer>175702</integer>
							</dict>
							<key>index_files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								MCBUoiWIIggE
								4HZatMCcmQ==
								</data>
								<key>Size</key>
								<integer>27314</integer>
							</dict>
							<key>rw_common/images/octopus_icon_grey.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L2Ye5D9YaQxH
								9QAExAY6ow==
								</data>
								<key>Size</key>
								<integer>89383</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								xkEH4zqp/ug9
								V1AfmmcjRA==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								MUJWkZr79jAc
								Fgpabnm5VQ==
								</data>
								<key>Size</key>
								<integer>3864</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
